In [113]:
import pandas as pd
import statistics as sts 
import numpy as np

In [114]:
dataset = pd.read_csv("tempo.csv", sep= ";")

In [115]:
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [116]:
dataset.groupby(dataset["Aparencia"]).size()

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [117]:
dataset.groupby(dataset["Temperatura"]).size()

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

In [118]:
dataset.groupby(dataset["Umidade"]).size()

Umidade
65.0     1
70.0     3
75.0     1
80.0     1
85.0     1
86.0     1
90.0     2
91.0     1
95.0     1
200.0    1
dtype: int64

In [119]:
dataset.groupby(dataset["Jogar"]).size()

Jogar
nao    5
sim    9
dtype: int64

In [120]:
dataset.drop(dataset[dataset['Aparencia'] == 'menos'].index, inplace= True)

In [121]:
dataset.groupby(["Aparencia"]).size()

Aparencia
chuva      5
nublado    3
sol        5
dtype: int64

In [122]:
dataset.groupby(["Temperatura"]).size()

Temperatura
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

In [123]:
condicao_temp = (dataset["Temperatura"] > 130) | (dataset["Temperatura"] < -130)

dataset.drop(dataset[condicao_temp].index, inplace=True)

In [124]:
dataset.groupby(["Temperatura"]).size()

Temperatura
65    1
68    1
69    1
70    1
71    1
72    1
75    2
80    1
81    1
83    1
85    1
dtype: int64

In [125]:
dataset.groupby(["Umidade"]).size()

Umidade
70.0     3
75.0     1
80.0     1
85.0     1
86.0     1
90.0     2
91.0     1
200.0    1
dtype: int64

In [126]:
condicao_umid = (dataset["Umidade"] > 100) | (dataset["Umidade"] < 0)
dataset.drop(dataset[condicao_umid].index, inplace= True)

In [127]:
dataset.groupby(["Umidade"]).size()

Umidade
70.0    3
75.0    1
80.0    1
85.0    1
86.0    1
90.0    2
91.0    1
dtype: int64

In [128]:
dataset.groupby(["Jogar"]).size()

Jogar
nao    4
sim    7
dtype: int64

In [129]:
dataset.isnull()
dataset["Umidade"].fillna(70, inplace=True)
dataset.isnull()

    Aparencia  Temperatura  Umidade  Vento  Jogar
0       False        False    False  False  False
1       False        False    False  False  False
2       False        False    False  False  False
3       False        False    False  False  False
4       False        False    False  False  False
5       False        False    False  False  False
8       False        False    False  False  False
10      False        False    False  False  False
11      False        False    False  False  False
12      False        False    False  False  False
13      False        False    False  False  False

In [130]:
dataset.groupby(["Umidade"]).size()

Umidade
70.0    4
75.0    1
80.0    1
85.0    1
86.0    1
90.0    2
91.0    1
dtype: int64

In [132]:
dataset.head(15)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70     70.0       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
8        sol           69     70.0       FALSO   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao